.body{
    background-color:rgb(181, 198, 192);
}

.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: #F6F3EB;
    padding: 1em;
    border-radius: 3px;
    max-width: 35em;
    margin: 20px;
}

.container img{
    max-width: 360px;
    max-height: 250px;
}

.container2{
    margin:0px 0px 0px 20px;
}
.navItem{
    display: flex;
    width: 100%;
    margin: 25px;
    /* border: 1px solid red; */
}

.btn {
    /* border: 2px solid green; */
    /* width:100%; */
    opacity: 0.9;
    /* background: transparent; */
    border: 1px solid #746d6d;
    border-radius: 10px;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

button:hover{
    background-color: aquamarine;
}